
:root{
    --primary:#b16b51;
    --dark:#161616;
    --pure:#F2F2F2;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
    --reallypink: #F2F2F2;
    --kindapink: #F2F2F2;
    --creamy: #F2F2F2;
    --popgreen: #01eb49;
    --babayblue: #e8c3b0;
    --pinterestblue: #dbe7dd;
    --handywidth: 780px;

}

body{
    font-family:'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color: #F2F2F2;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}
.site-main-wrapper{
    display: none;
    position:relative;

 
}

.hamberger{
    position: fixed;
    left: 10%;
    margin-top: 30px;

    z-index:11;
    background:none;
    border:none;
    outline: none;
    cursor: pointer;

    
}



.hamberger img{
    width:30px;
}

.mobile-nav{

   position: fixed;
   top:0;
   left:0;
   z-index:1001;
   background:var(--kindapink);
   width:100%;
   height:100%;
  
   transform: translateX(-100%);
   -webkit-transform: translateX(-100%);
   -moz-transform: translateX(-100%);
   -ms-transform: translateX(-100%);
   -o-transform: translateX(-100%);
   transition:all .5s ease-in-out;
   -webkit-transition:all .5s ease-in-out;
   -moz-transition:all .5s ease-in-out;
   -ms-transition:all .5s ease-in-out;
   -o-transition:all .5s ease-in-out;
}
.open{
  
    transform:translateX(0);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
}
.times{
   position:fixed;
   margin-top: 30px;
   left: 10%;
   border: none;
   background:none;
   outline:none;
   cursor: pointer; 
   
}
.times img{
    width:30px;
}

.mobile-nav ul{
    
    display: none;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-right: 20vw;
    
    
}
.mobile-nav ul li a{
    color:var(--secondary);
    text-decoration:none;
    font-size: 2rem;
    
   
   
}

.btn{
    padding:0.8rem 3rem;
    font-size:1rem;
    font-weight:600;
    border:2px solid transparent;
    outline:none;
    cursor:pointer;
    text-transform: uppercase;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
.btn-primary{
    background:var(--primary);
    color:var(--pure);
}
.btn-primary:hover{
    background:transparent;
    border-color: var(--primary);
    color:var(--babayblue);
}
@media (max-width: 1200px) {
    .btn-primary:hover {
        display: none;
    }
}
.btn-secondary{
    background:transparent;
    color:var(--primary);
    border-color:var(--primary);
}
.btn-secondary:hover{
    background:var(--primary);
    color:var(--secondary);
}

header{
  
    height: 80vh
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 170px;
    text-align: end;
    width: 40vw;
    min-width: 400px;
    height: 600px;
    /* Add some padding for spacing */
    overflow-y: auto; /* Add a vertical scrollbar when content exceeds the maximum height */

    position: absolute;
    right:  15%;
    top: 0;

}


.title h6, .title h1, .title p {
    margin: 0; /* Reset margins for the text elements */
    align-self: flex-end;
   

}



.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
    
}

.navbar a{
   
    font-family:'Lato', sans-serif;
    color: black;
    text-decoration: none;
    margin-right:2rem;
    text-transform:uppercase;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}


.navbar a:hover{
    color:var(--babayblue);
}
header nav {
    padding:2rem 0;
}

@media (max-width:1200px) {
    .site-main-wrapper{
        display: flex;
    }
    .hamberger {
        display: flex;
    }
    .navbar {
        display: none;
    }
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    transition: all .3s ease;
    font-family:'Lato', sans-serif;
}
.about-vanessa {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 80vw;
    gap: 4vw;
    margin-top: 50px;
}
.about-photo img{
    width: 35vw;
}
.about-vanessa h1{
    margin-bottom: 1rem;
    font-size:40px;
    font-weight:400;
}
.about-vanessa h1 span{
    color:var(--primary);
}
.about-vanessa h3{
    font-size: clamp(20px, 4vw, 30px);
    margin-bottom:1rem;
    font-weight: 400;
}

.about-vanessa p{
    font-family:'Lato', sans-serif;
    color:var(--ternary);
    line-height: 1.8;
    margin-top: 2rem;
    margin-bottom:1rem;
    font-size: 20px;
    
}

@media (max-width: 780px) {
    .about-vanessa {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}


.headline {
    position: relative;
    font-family:'Lato', sans-serif;
    height: auto;
    overflow: hidden;
    background-color: #F2F2F2;
    transition: all .3s ease;
    
    
}
.lines {
    background-color: #F2F2F2;
    overflow: hidden; 
    font-size: 80px;
    transition: all .3s ease;

}
.lines-handy {
    display: none;
}

.line1{
    position: relative;
    left:  1000px;
    
    margin-top: 300px;
    
    white-space: nowrap;
    color: black;
}

.line2 {
    color: black;
    position: relative;
  
    right: -1000px;
 
    margin-left: 700px;
    white-space: nowrap;
    
}
.line2 h1{
    transition: all .3s ease;
}
@media (max-width : 1100px) {
    
    .line1 {
      
        font-size: 50px;  
    }
    .line2 {
        font-size: 40px;
       
    }
        

}
@media (max-width: 780px) {
    .about {
        margin-bottom: 0;
    }
    .lines {
        display: none;
    }
    .lines-handy {
       
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        color: black;
        font-size: 30px;
        padding-top: 200px;
        transform: all .3s ease;
    }
    .handy-lines1 {
        color: black;
     
    }
    .handy-line2 {
        color: white;

    }

}


.motto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px; /* Adjust the margin-top to position it properly */
    width: 100%;
    height: auto;
    text-align: center;
    font-family:'Lato', sans-serif;
    line-height: 1.8;
    font-size: 20px;
    
    color: var(--pure); /* Set the text color */
    padding: 0 100px;
     /* Add padding for better appearance */
     /* Add a rounded background */
}
.motto p{
    transition: all .9s ease;
    opacity: 0;
}
.self-discovery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    padding-bottom: 300px;
  
    
}
.about-my-work{
    font-size: 20px;
    text-align: end;
    background-color: #566153;
    z-index: 2;
    width: 500px;
    padding: 30px;
    color: #cec63b;
    font-family:'Lato', sans-serif;
    
}
@media (max-width: 780px) {
    .motto {
        margin-top: 100px;
        padding: 0 20px;
        
    }
    .motto p{
        font-size: 20px;
    }
    .self-discovery {
        padding-bottom: 300px;
        flex-direction: column;
        margin-top: 200px;
        align-items: center;
        
    }
    .self-discovery img {
        position: absolute;
        left: 20%;
        bottom: 0;
    }
    .about-my-work {
        font-size: 20px;
        text-align: center;
        width:80%;
        padding: 20px 0;
        margin-bottom: 50px;
        margin-top: -100px;
    }
    
    
}

.self-discovery  img{
    width: 60vw;
    min-width: 800px;
    z-index: 1;
    margin-left: -200px;
}
section.freelancer{
    text-align: center;
    background: #566153;
    color: white;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom:14rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family:'Lato', sans-serif;

}
section.freelancer h1{
    margin-top: 100px;
    font-size:3rem;
    margin-bottom:0.5rem;
}
section.freelancer p{
    font-size:1.3rem;
    margin-bottom: 2rem;
    font-family:'Lato', sans-serif;
}
section.freelancer span {
    color: #cec63b;
}

@media (max-width: 780px) {
    section.freelancer h1{
        padding: 0 20px;
        font-size: 40px;
        margin-bottom: 40px;
        
    }
    section.freelancer p{
        padding: 0 20px;
        font-size: 20px;
        
    }
}
.leistungen-headtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Lato', sans-serif;
    margin-top: 100px;
}
.leistungen-headtitle h1{
    font-size: 2rem;
    font-weight:400;
}
.leistungen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    margin: 100px 50px;
    font-family:'Lato', sans-serif;
}
.leistungen-headtitle span {
    color: var(--primary);
}
.leistung-pic img {
    width: 600px;
}
.leistungen-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-size: 16px;
    font-weight:400;
}
.leistungen-title h2 {
    color: var(--primary);
    margin-bottom: 30px;
}
.leistungen-title p {
    margin-bottom: 50px;
}
@media (max-width: 880px) {
    .leistungen {
        flex-direction: column;
    }
    .leistungen-title {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
       
    }
    .leistungen-headtitle {
        text-align: center;
    }
    .leistung-pic img {
        width: 65vw;
    }
}
section.contact {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    padding-bottom: 100px;
    background-color: var(--primary);
    color: var(--light);
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 2vw;
    
}
@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}


.section-heading {

    font-size: 1.1rem;
    font-family: 'Yeseva One', serif;
    line-height: 25px;
    margin: 0 70px;
    font-weight: 100;
    text-align: center ;

    
}

section.contact .contact-cards{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
   
   
   
}
section.contact .contact-cards h5{
    font-size: 2rem;
    font-weight: 600;
    text-transform:uppercase;
    margin-bottom: 80px;
    font-family: 'Prata', serif;

}

.telephone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
   
    margin-bottom: 20px;
  
   
}
.telephone img{
    width: 20px;
}

.email {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
       
    }
.email img{
    width: 22px;
}

section.contact .card-wrapper {
    color: black;
   
}
section.contact .card-wrapper .contact-cards h1{
    font-weight:400;
    margin-bottom:1rem;
}
section.contact .card-wrapper .contact-cards h6{
    font-size:1rem;
    font-weight:400;
    
}
.form {
    border: 1px solid var(--ternary);
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 0.5%;
    width: 60vw;
    background-color: var(--pure);
    gap: 8vw;
    padding: 40px 0;
    margin-right: 30px;
    
}
@media (max-width: 1200px) {
    .form {
        
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 80px;
    }
    
}

section.contact .input-wrap{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:1rem;
    margin-bottom:1rem;
  
    

}

section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom:1rem;
}
section.contact input{
    text-align: center;
    padding:0.5rem ;
    border:1px solid var(--ternary);
    font-size: 0.9rem;
    background-color: lightgray;
}
section.contact .input-wrap-2 textarea{
    text-align: center;
    padding:0.5rem;
    border:1px solid var(--ternary);
    font-size: 0.9rem;
    background-color: lightgray;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline:none;  
}
section.contact .btn-senden{
    font-family: 'Satisfy', cursive;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top:2rem;
    font-size: 35px;
    border : 0;
    text-decoration: none;
   
}
section.contact .btn-senden:hover {
    color: var(--primary);
}



footer{
    background:var(--dark);
    text-align: center;
    padding:5rem 0;
}
footer .footer-logo{
    margin-bottom:3rem;
    width:150px;
}
footer .footer-socials a{
    margin-right:1rem;
}
footer .footer-socials{
    margin-bottom:3rem;
    margin-right:-1rem;
}
footer .copyright{
    color:var(--ternary);
}

@media (max-width: 780px) {

    section.contact .contact-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .telephone, .email {
        text-align: center;
    }
    .email {
        margin-top: -70px;
    }
  

    .form {
        width: 100%;
       
        margin: 40px auto;
        padding: 1rem;
    }

    .input-wrap,
    .input-wrap-2 {
        display: block;
        text-align: left;
    }
}
section.contact .input-wrap,
section.contact .input-wrap-2 {
    width: 20rem;
    
}
@media (max-width:1200px) {
  
    section.contact .input-wrap {
        margin-top: 40px;
    }
    section.contact .input-wrap,
    section.contact .input-wrap-2 {
        width: 50vw;
       
        
    }
}
@media (max-width:780px) {
    section.contact .input-wrap,
    section.contact .input-wrap-2 {
        width: 70vw;
    
        
    }
}



