@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 19px;
  display: block;
}

body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #4a4946;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  width: 100%;
  flex: 0 1 100%;
}

.main {
  min-height: 100vh;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  border-bottom: 1px solid transparent;
  background-color: transparent;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: calc(1.5rem * 0);
  width: 100%;
  padding: 0 calc(1.5rem * 3);
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #b16b51;
}

img {
  border-radius: 8px;
}

.nav__container {
  display: flex;
  gap: 5vw;
}

.row {
  width: auto;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: calc(1.5rem * -0.5);
  margin-left: calc(1.5rem * -0.5);
}

.h4,
h4 {
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-bottom: calc(1.5rem * 1);
  font-size: 1.1rem;
  color: #22211f;
}

h3 {
  margin-bottom: calc(1.5rem * 1);
  font-weight: 700;
}

h1 {
  font-weight: 700;
}

p,
ul {
  margin-bottom: 1.5rem;
  margin-bottom: calc(1.5rem * 1);
  font-family: "Playfair Display", serif;
}

p {
  transition: all 0.5s ease-in-out;
}

.section--white {
  background-color: transparent;
}

.section {
  padding: calc(1.5rem * 5) 0;
}

.header {
  height: calc(1.5rem * 3);
  display: block;
  pointer-events: none;
  visibility: hidden;
}

.header {
  position: fixed;
  visibility: visible;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F2F2F2;
  border-bottom: 1px solid #b16b51;
  pointer-events: auto;
}

.header__main,
.header__section {
  height: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: all;
  width: 100%;
}

.header__section h4 {
  margin: 0;
}

.background-text-wrapper {
  height: 0;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: auto !important;
}

.background-text {
  --scrollFactor: 0;
  font-weight: 900;
  font-stretch: semi-condensed;
  overflow: hidden;
  pointer-events: none;
  text-align: left;
  text-transform: uppercase;
  line-height: 0.7;
  width: 100%;
  height: 500vh;
  display: block;
  font-size: calc(100 / 30 * 63.5vh);
  color: #c17360;
  filter: brightness(200%);
}

.background-text__container {
  margin: calc(1.5rem * -1);
  height: calc(1.5rem * 2 + 100%);
  width: calc(1.5rem * 2 + 100%);
}

.background-text__container.active .background-text__line:nth-child(1) {
  transform: translateX(calc(0vh - var(--scrollFactor) * 1));
}

.background-text__container.active .background-text__line:nth-child(2) {
  transform: translateX(calc(30vh + var(--scrollFactor) * 1));
}

@media (max-width: 576px) {
  .background-text {
    line-height: 0.8;
  }
  .background-text__container.active .background-text__line:nth-child(2) {
    transform: translateX(calc(-30vh + var(--scrollFactor) * 1));
  }
}
.hero-wrapper {
  transform: translateY(calc(1.5rem * -2));
}

.hero--large .hero__content {
  min-height: 100vh;
}

.hero {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 100;
}

.hero__content {
  padding-top: calc(1.5rem * 7);
  padding-bottom: calc(1.5rem * 2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero__circle {
  position: absolute;
  width: calc(1.5rem * 10);
  top: calc(1.5rem * 2.5);
  margin-left: -120px;
  z-index: -10;
}

.circle svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: #6184D8;
  animation: rotation 80s linear infinite;
  transform-origin: center;
}

text {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  font-variant-ligatures: none;
  letter-spacing: 6px;
  animation: rotate 25s linear infinite;
  transform-origin: 250px 250px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
/* Textcircle styles */
.textcircle {
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  transform-origin: 250px 250px;
}

.scroll-arrow--vertical {
  display: block;
  width: calc(1.5rem * 1);
}

.scroll-arrow {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.scroll-arrow__content {
  display: flex;
  align-items: center;
}

.scroll-arrow--vertical .scroll-arrow__content {
  flex-direction: column;
}

.scroll-arrow--vertical .scroll-arrow__label {
  width: calc(1.5rem * 1);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: 0;
  margin-bottom: calc(1.5rem * 0.25);
}

.hero__scroll-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 calc(1.5rem * 0.5) calc(1.5rem * 1) calc(1.5rem * 0.5);
  margin-right: calc(1.5rem * 3);
}

.burger {
  display: none;
  z-index: 3000;
}

.overlayer {
  display: none;
  position: fixed;
  top: 0;
  left: 100vw;
  width: 100%;
  height: 100%;
  background-color: #b16b51;
  z-index: 999;
  transition: left 0.3s ease;
}
.overlayer a {
  color: white;
}

.nav__container a:hover {
  color: black;
}

@media (max-width: 991px) {
  .nav {
    display: none;
  }
  .burger {
    display: flex;
    flex-direction: column;
    width: 30px;
    border: 0;
    padding: 0;
    gap: 3px;
    background: none;
    cursor: pointer;
    z-index: 3000; /* Ensure burger menu is on top */
  }
  .burger :where(.top-bread, .meat, .bottom-bread) {
    background: #b16b51;
    height: 4px;
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 300ms ease;
  }
  .burger[aria-expanded=true] .top-bread {
    opacity: 0;
  }
  .burger[aria-expanded=true] .meat {
    transform: rotate(45deg);
  }
  .burger[aria-expanded=true] .bottom-bread {
    transform: translateY(calc(12px - 1rem)) rotate(-45deg);
  }
  .overlayer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger__nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    font-size: 1.5rem;
  }
  .burger__nav__container:hover {
    color: #b16b51;
  }
}
.landing-page-builder {
  position: relative;
  min-height: 300px;
}

.landing-page-builder__section {
  display: block;
}

@media (min-width: 1280px) {
  .container,
  .container-fluid {
    max-width: 70rem;
  }
}
.add-margin {
  margin-bottom: 1.5rem;
  margin-bottom: calc(1.5rem * 1);
}

.listed-case-study {
  display: block;
}

.listed-case-study__container {
  padding: 0;
}

.listed-case-study__row {
  width: 100%;
}

.listed-case-study__caption__body,
.listed-case-study__visual {
  z-index: 1;
  position: relative;
}

.case-study-teaser {
  display: flex;
  width: 100%;
  margin-bottom: calc(1.5rem * 1);
}

.case-study-teaser--landscape .case-study-teaser__image {
  width: 50%;
  flex-basis: 50%;
  transform: translate3d(-30px, -10px, 0px);
}

.background__image {
  min-width: 100px;
  max-width: 700px;
  min-height: 100px;
  max-height: 700px;
  width: 15vw;
  height: 15vw;
  display: block;
  position: relative;
  background-color: #4a4946;
}

.case-study-teaser--landscape .case-study-teaser__screen-recording {
  width: 100%;
}

.case-study {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: calc(1.5rem * 3);
  margin-bottom: calc(1.5rem * 3);
}

.case-study__background {
  position: relative;
  aspect-ratio: 3/4;
  width: 30vw;
  border-radius: 8px;
  background-color: #E4E6C3;
  top: 0px;
  transform: scale(0.7);
}
.case-study__background img {
  width: 100%;
}

.case-study__image {
  position: absolute;
  top: 0;
  left: 150px;
  width: 30vw;
  aspect-ratio: 3/4;
}

.case-study img {
  width: 100%;
}

.case-study-text {
  position: relative;
}

.listed-case-study__caption {
  position: relative;
}

@media (max-width: 1024px) {
  .case-study {
    flex-direction: column;
    align-items: center;
  }
  .case-study__block {
    position: relative;
    width: 100%;
  }
  .case-study__background {
    position: relative;
    left: 0;
    width: 50vw;
  }
  .case-study__image {
    width: 50vw;
    right: 0;
  }
}
@media (max-width: 576px) {
  .case-study__background {
    width: 70vw;
  }
  .case-study__image {
    width: 70vw;
    left: 30%;
  }
}
.leistungen_content {
  display: flex;
  gap: calc(1.5rem * 2.5);
  padding: 4.5rem 0;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.leistungen_content img {
  width: 600px;
}

@media (max-width: 1024px) {
  .leistungen_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leistungen_content img {
    width: 100%;
  }
}
#about {
  display: flex;
  flex-direction: column;
  gap: calc(1.5rem * 5);
}

.about-me__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: calc(1.5rem * 5);
}

.about-me__content {
  position: relative;
}

.about-me__background {
  position: relative;
  aspect-ratio: 4/5;
  width: 15vw;
  border-radius: 8px;
  background-color: #E08574;
  min-width: 150px;
  max-width: 700px;
}

.about-me__image {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 15vw;
  min-width: 150px;
  max-width: 700px;
}

.about-me__image img {
  width: 100%;
  aspect-ratio: 2/3;
}

.about-me__text {
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
    max-width: 70rem;
  }
}
@media (max-width: 576px) {
  .container {
    padding-left: calc(1.5rem * 0.5);
    padding-right: calc(1.5rem * 0.5);
  }
  .about-me__text {
    text-align: start;
  }
}
.about-me__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.about-me__block img {
  width: 27vw;
}

.about-me__text-block {
  background-color: #E4E6C3;
  padding: calc(1.5rem * 0.5);
  text-align: end;
  display: inline-block;
  transform: translateX(calc(1.5rem * 1.5));
  border-radius: 8px;
  margin-left: calc(1.5rem * -1.5);
  background-color: #b16b51;
  color: white;
}
.about-me__text-block p {
  margin-bottom: 0;
  font-size: 17px;
}

@media (max-width: 1024px) {
  .about-me__block {
    display: flex;
    flex-direction: column;
    gap: calc(1.5rem * 3);
  }
  .about-me__block img {
    width: 100%;
  }
  .about-me__text {
    text-align: start;
  }
  .about-me__text-block {
    text-align: center;
    transform: translateX(calc(1.5rem * 1.5));
  }
  .about-me__block img {
    width: 50vw;
  }
}
.perspective-text__container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: calc(1.5rem * 1);
}

.perspective-text__size {
  transform: scale(1);
  position: relative;
  left: 0;
}

.perspective-text {
  color: #4a4946;
  font-size: 58px;
  font-weight: 400;
  letter-spacing: -2px;
  text-transform: uppercase;
  height: auto;
  margin-bottom: calc(1.5rem * 2);
  padding-right: calc(1.5rem * 4);
}
@media (max-width: 576px) {
  .perspective-text {
    padding-right: 10vw;
  }
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.perspective-line p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
  font-family: "Caprasimo", serif;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.333);
}

.perspective-text.active p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
}

.perspective-line:nth-child(3) {
  left: 87px;
}

.together {
  color: #6184D8;
}

.formular {
  width: 100%;
}

.contact-formular {
  width: 70%;
  max-width: 600px;
  min-width: 350px;
}

@media (max-width: 576px) {
  .contact-formular {
    min-width: 70vw;
  }
}
.section-heading p {
  color: #F2F2F2;
}

section.contact {
  padding: calc(1.5rem * 3) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  padding-bottom: 100px;
  background-color: #b16b51;
  color: #4a4946;
}

.contact__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
.section-heading {
  font-size: 1.1rem;
  line-height: 25px;
  font-weight: 100;
  text-align: center;
  margin-bottom: calc(1.5rem * 3);
}
.section-heading p {
  margin: 0;
}

section.contact .contact-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

section.contact .contact-cards h5 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

section.contact .card-wrapper {
  color: black;
}

section.contact .card-wrapper .contact-cards h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}

section.contact .card-wrapper .contact-cards h6 {
  font-size: 1rem;
  font-weight: 400;
}

.form {
  border: 1px solid var(--ternary);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  border-radius: 0.5%;
  background-color: #E4E6C3;
  gap: calc(1.5rem * 1);
  padding: calc(1.5rem * 2) calc(1.5rem * 5);
}

section.contact .input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(1.5rem * 10);
}

section.contact .input-wrap-2 {
  display: flex;
  flex-direction: column;
}

section.contact input {
  text-align: start;
  padding: 0.5rem;
  border: 1px solid #E08574;
  border-radius: 3px;
  font-size: 0.7rem;
  background-color: lightgray;
  width: 100%;
  margin-bottom: calc(1.5rem * 0.6);
}

section.contact .input-wrap-2 textarea {
  text-align: start;
  padding: 0.5rem;
  border: 1px solid #E08574;
  border-radius: 3px;
  font-size: 0.7rem;
  background-color: lightgray;
}

section.contact .input-wrap-2 textarea:focus, section.contact input:focus {
  outline: none;
}

section.contact .btn-senden {
  font-family: "Satisfy", cursive;
  width: 150px;
  height: 50px;
  text-align: center;
  margin-top: 2rem;
  font-size: 35px;
  border: 0;
  text-decoration: none;
  color: #070606;
  background-color: transparent;
}

section.contact .btn-senden:hover {
  color: var(--primary);
}

.message-success {
  display: none;
  font-family: "Satisfy", cursive;
  width: 60vw;
  height: 50px;
  text-align: center;
  margin-top: 2rem;
  font-size: 35px;
  border: 0;
  text-decoration: none;
  color: #070606;
  margin-right: 30px;
}

.footer {
  background-color: #161616;
  color: #84837f;
  width: 100%;
}

.footer__container {
  flex: 1 0 auto;
  padding: calc(1.5rem * 2) 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: calc(1.5rem * 3);
}

.footer__content {
  line-height: calc(1.5rem * 0.1);
  display: block;
}

.email-address {
  margin: calc(1.5rem * 3) 0;
}

.footer__content a {
  color: #84837f;
}

.button {
  border: 1px solid #b16b51;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  font-family: "Playfair Display", serif;
  color: #b16b51;
  padding: 1px 25px;
  transition: 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #b16b51;
  color: #E4E6C3;
  border: 1px solid transparent;
}

.text-quote__block {
  text-align: center;
  background: #b16b51;
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
  padding: calc(1.5rem * 2);
  padding-bottom: calc(1.5rem * 3);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 576px) {
  .text-quote__block {
    padding: calc(1.5rem * 2) calc(1.5rem * 0.5);
  }
}
.leistungen_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  position: relative;
}

@media (max-width: 1024px) {
  .leistungen_cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.leistung-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: calc(1.5rem * 0.5);
  border-top: 1px solid #b16b51;
  color: #4a4946;
  text-align: center;
  background-color: transparent;
  font-family: "Playfair Display", serif;
  position: relative;
  padding: calc(1.5rem * 0.7) calc(1.5rem * 0.5);
  transition: 0.3s ease;
  text-align: center;
  width: 40vw;
  min-width: 512px;
}
.leistung-card h3 {
  font-size: 1.5rem;
  margin: 0;
}
.leistung-card h6, .leistung-card h5 {
  text-align: center;
  margin-bottom: calc(1.5rem * 1.5);
}
.leistung-card p {
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
}
.leistung-card button {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
}
@media (max-width: 1024px) {
  .leistung-card {
    width: 75vw;
    height: auto;
    min-width: 0;
    text-align: start;
  }
}

.leistungen_info {
  display: none;
  background-position: center;
  background-size: 300px;
  background-repeat: no-repeat;
}
.leistungen_info h5 {
  margin-bottom: calc(1.5rem * 1.5);
  border-bottom: 1px solid #b16b51;
  padding-bottom: 30px;
  text-align: center;
}
.leistungen_info ul {
  margin-bottom: calc(1.5rem * 1.5);
  list-style-type: none;
}
.leistungen_info li {
  margin-bottom: calc(1.5rem * 0.5);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: normal;
}
.leistungen_info li img {
  margin-right: 30px;
  padding: -30px;
}

.activated {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  padding-top: calc(1.5rem * 2);
  padding-bottom: calc(1.5rem * 2);
}

.leistungen {
  padding-top: calc(1.5rem * 3.5);
}

.leistung-path {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1224px) {
  .leistung-path {
    width: 100%;
    gap: calc(1.5rem * 2);
    margin-bottom: calc(1.5rem * 2);
  }
}

.path-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15vw;
  text-align: center;
}
@media (max-width: 1224px) {
  .path-card {
    width: 100%;
  }
}
.leistung-path-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(1.5rem * 2);
  margin-bottom: calc(1.5rem * 3);
}

.path-content {
  text-align: center;
}

.path-number {
  border: 2px black solid;
  border-radius: 50%;
  width: 75px;
  aspect-ratio: 1/1;
  text-align: center;
  margin-bottom: calc(1.5rem * 1);
  position: relative;
}
.path-number .correction-1 h2 {
  top: 8px;
  left: 29px;
}
.path-number .correction-2 h2 {
  top: 9px;
}
.path-number h2 {
  position: absolute;
  top: 5px;
  left: 27px;
  margin: 0;
}
@media (max-width: 1224px) {
  .path-number h2 {
    top: 10px;
    left: 27px;
  }
  .path-number .correction-1 h2 {
    top: 12px;
    left: 29px;
  }
  .path-number .correction-2 h2 {
    top: 13px;
    left: 27px;
  }
}/*# sourceMappingURL=style.css.map */
